<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
            	<script type="text/javascript" src = "/js/service/CheckToken.js"></script>
                <script type="text/javascript" src = "/js/service/LoginCabinet.js"></script>
                <script type="text/javascript" src = "/js/bean/Salon.js"></script>
                <script type="text/javascript" src = "/js/RequestUtilityADMIN.js"></script>
                <script type="text/javascript" src = "/js/service/admin/CreateSalon.js"></script>
                
    <title>ADMIN PAGE</title>
    <style type="text/css">
    .spansalons:hover{
    color: blue;
    } 
    </style>
    
</head>
<body onload='createLoginLogoutButton()'>
<!--HEADER-->
<header>
    <nav class="navbar  navbar-expand-lg navbar-dark bg-dark" id="imNav">
        <div class="container">
            <img src="../img/logo.png" class="nabar-brand img-fluid" style="max-width: 170px; max-height: 100px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample07">
           
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/service">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/trends">В тренде</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/price-list">Стоимость</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/comments">Отзывы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/contact">Контакы</a>
                    </li>
                </ul>

                
                <div class=" my-2 my-md-0 " id="logbutton">
                	
               
                </div>
            </div>
        </div>
      </nav>
</header>
<!--HEADER-->
<div class="container mt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="salon-tab" data-toggle="tab" href="#salon" role="tab" aria-controls="salon" aria-selected="true" onclick="checkTokenExist();">Создать / Изменить салон</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="client-tab" data-toggle="tab" href="#client" role="tab" aria-controls="client" aria-selected="false" onclick="setCurrentDateClient();">Создать / Изменить клиента</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="worker-tab" data-toggle="tab" href="#worker" role="tab" aria-controls="worker" aria-selected="false" onclick="checkTokenExist();">Создать / Изменить работника</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="false" onclick="checkTokenExist();">Создать / Изменить заказ</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link" id="discount-tab" data-toggle="tab" href="#discount" role="tab" aria-controls="discount" aria-selected="false" onclick="checkTokenExist();">Создать / Изменить скидку</a>
        </li>
            <li class="nav-item">
            <a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false" onclick="checkTokenExist();">Создать / Изменить комментарий</a>
        </li>
        </li>
            <li class="nav-item">
            <a class="nav-link" id="skill-tab" data-toggle="tab" href="#skill" role="tab" aria-controls="skill" aria-selected="false" onclick="checkTokenExist();">Создать / Изменить услугу</a>
        </li>
    
         </li>
            <li class="nav-item">
            <a class="nav-link" id="catalog-tab" data-toggle="tab" href="#catalog" role="tab" aria-controls="catalog" aria-selected="false" onclick="checkTokenExist();">Создать / Изменить каталог</a>
        </li>
    </ul>

    
    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="salon" role="tabpanel" aria-labelledby="salon-tab">
            <div class="container-fluid">
       <div class="container">
                      <div class="row">
                        <div class="col"  id = "salon1">
                          1 из 2
                            
                            <form id = 'salonForm'>
                                      <div class="form-group">
                                      <input class="form-control" type="text" id="salonid" placeholder="Id салона" readonly>
                                        <label for="salonname">Название салона:</label>
                                        <input type="text" class="form-control" id="salonname" name="salonname">
                                      </div>
                                      <div class="form-group">
                                        <label for="salondescr">Описание салона:</label>
                                        <textarea class="form-control" rows="3" id="salondescr" name="salondescr"></textarea>
                                      </div>
                                      <label>Адресс салона:</label>
                                      <br>
                                      <label for="saloncountry">Страна:</label>
                                      <input type="text" class="form-control" id="saloncountry" name="saloncountry">
                                      <label for="saloncity">Город:</label>
                                      <input type="text" class="form-control" id="saloncity" name="saloncity">
                                      <label for="salonstreet">Улица:</label>
                                      <input type="text" class="form-control" id="salonstreet" name="salonstreet">

                                      <button type="submit" class="btn btn-primary" onclick="savesalon(event);">Добавить / Изменить</button>
                                    </form>

                        </div>
                        <div class="col" id = "salon2">
                          2 из 2
                          <br>
                          <button type="submit" class="btn btn-primary" onclick="getsalons(event);">Найти все салоны</button>
                          <div id = "salonslist"></div>
                        </div>
                      </div>
                    </div>
        </div>
            
        </div>
        
        

    <div class="tab-pane fade" id="client" role="tabpanel" aria-labelledby="client-tab">

    <div class="row" >
            Создать клиента
        </div>
            <div class="mt-5">
               Создать клиента
             </div>

        </div>

        <div class="tab-pane fade" id="worker" role="tabpanel" aria-labelledby="worker-tab">Создать / Изменить работника</div>

        <div class="tab-pane fade" id="order" role="tabpanel" aria-labelledby="order-tab">Создать / Изменить заказ</div>

        <div class="tab-pane fade" id="discount" role="tabpanel" aria-labelledby="discount-tab">Создать / Изменить скидку</div>

        <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">Создать / Изменить комментарий</div>
        
        <div class="tab-pane fade" id="skill" role="tabpanel" aria-labelledby="skill-tab">Создать / Изменить услугу</div>

        <div class="tab-pane fade" id="catalog" role="tabpanel" aria-labelledby="catalog-tab">Создать / Изменить каталог</div>



    </div>
</div>
<!--BODY-->
</body>
</html>