<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MyPage </title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
  <script type="text/javascript" src = "/js/service/CheckToken.js"></script>
  <script type="text/javascript" src = "/js/service/LoginCabinet.js"></script>
  <script type="text/javascript" src = "/js/service/client/ClientProfile.js"></script>
  <script type="text/javascript" src = "/js/RequestUtilityFA.js"></script>
  <script type="text/javascript" src = "/js/service/client/ClientCreateOrder.js"></script>
  <script type="text/javascript" src = "/js/service/InfoBlockTop.js"></script>
  <script type="text/javascript" src = "/js/service/SendNewComment.js"></script>
  
  <style type="text/css">
    html {
      position: relative;
      min-height: 100%;
    }


    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 70px;
      padding-top:50px;

    }

    .back {
      background-color: #D9E1DA;
    }
    .footer{
      height: 70px;
      margin-top: 20px;
    }
    .block{
      width: 60px;
      height: 30px;
      background: #e3f2fd;
      display: inline-block;
      margin: 2px;
      text-align: center;
    }
    .block:hover{
      background: #EFBCF5;
    }
    .blockpast{
      width: 60px;
      height: 30px;
      background: grey;
      display: inline-block;
      margin: 2px;
      text-align: center;
    }
    .workerPhoto{
      width: 170px;
      margin: 10px;
      display: inline-block;
    }

    .addScroll{
      overflow-y:auto;
      height: 400px;
      
    }
    .infoblock {
      position: fixed;
      width: 100%;
      top: 0;
      min-height: 5em;
      background: #B0C4DE;
      text-align: center;
      line-height: 4em;
      visibility: hidden;
      z-index: 999999;
    }
    .infotext{
      font-size: 20px;
    }
    #acolor{
	 color: white;
	}
	#acolor:hover{
	color: grey;
	}
	#workerprofile{
	padding-bottom: 70px;
	}
	#workerfreedates {
  
  border: 3px solid #7922CC;
  border-radius: 30px 0 0 30px; 
  display: none;
  
}
  </style>

</head>
<body onload='createLoginLogoutButton()'>
  <header>
    <nav class="navbar  navbar-expand-lg navbar-dark bg-dark" id="imNav">
      <div class="container">
        <img src="../img/logo.png" class="nabar-brand img-fluid" style="max-width: 170px; max-height: 100px">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
        aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample07">
       
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item acolor">
              <a class="nav-link " href="/service" id="acolor">Услуги</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/trends" id="acolor">В тренде</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/price-list" id="acolor">Стоимость</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/comments" id="acolor">Отзывы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/contact" id="acolor">Контакы</a>
            </li>
          </ul>

        
        <div class=" my-2 my-md-0 " id="logbutton">
          
         
        </div>
      </div>
    </div>
  </nav>
</header>
<!--HEADER-->
<div class="infoblock" id="infoblock">
  <span class="infotext" id="infotext"></span>
</div>
<!--BODY-->

<div class="container mt-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" onclick="sendRequestFotoWorkers(); cleanDiv();">Новый заказ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="work-tab" data-toggle="tab" href="#work" role="tab" aria-controls="contact" aria-selected="false" onclick="setCurrentDateClient();">Список заказов</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" onclick="checkTokenExist();">ОТЗЫВЫ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" onclick="createClientPersonalForm ();">Профиль</a>
    </li>
  </ul>

  
  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="container-fluid">
        Оформить новый заказ
        
        
        <div class="row" >
          <div id="workerPhoto" class=" col-md-12" ></div> <!-- Тут фото работников -->
        </div>
        
        
        <div class="row" >
          <div class="col-md-8 workerprofile" id = "workerprofile"></div>
          
			
          <div class="col-md-4 workerfreedates addScroll" id = "workerfreedates"></div>
          
          
        </div>
      </div>
      
    </div>
    
    <!-- КАЛЕНДАРЬ-->
    <div class="tab-pane fade" id="work" role="tabpanel" aria-labelledby="work-tab">

      <!--День Месяц ГОД-->
      <div class="mt-5">
        <div class="row">

         
          <div class="col">
            <select id="inputStateMounts" class="form-control" >
              
            </select>
          </div>
          <div class="col">
            <select id="inputStateYear" class="form-control" >
              
            </select>
          </div>
          <div class="col">
            <select id="inputStateStatus" class="form-control" >
              <option value = "ALL" selected>Статус</option>
              <option value = "ALL">ВСЕ</option>
              <option value="DONE">ВЫПОНЕН</option>
              <option value="CANCELED">ОТМЕН</option>
              <option value="ACTIVE">АКТИВНЫЙ</option>
              <option value = "NEW">НОВЫЙ</option>
              

            </select>
          </div>
          <button onclick="sendRequestClientHistory()"> Поиск </button>
        </div>
      </div>
      <!--День Месяц ГОД-->

      <div class="mt-5 ">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Дата</th>
              <th scope="col">Салон</th>
              <th scope="col">Мастер</th>
              <th scope="col">Услуга</th>
              <th scope="col">Стоимость</th>
              <th scope="col">Статус</th>
              <th scope="col">Изменить</th>
            </tr>
          </thead>
          <tbody id="tbodyTable">
            

          </tbody>
        </table>
      </div>


    </div>
    


    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
     <div class="container">
      <div class="row" >
        
        <div class="col-2"></div>
        <div class="col-8" id="myprofile"></div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>



  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div class="container">
      <div id="comments" align="left">
        <!-- <img src="../img/not_working.jpg"> -->
        <div class = 'messagediv'>
          <form id="message-form" >
            <div class="messages"></div>
            <div class="controls">
              
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="form_name"><b>Оставьте Ваш отзыв</b></label>
                  
                </div>
              </div>
              <div class="col-sm-8">
                <div class="form-group">
                  <label for="FormControlTextarea">Сообщение *</label>
                  <textarea class="form-control" id="FormControlTextarea" name="message" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-8">
                <input type="submit" style="float: right;" class="btn btn-primary btn-send" value="Отправить" onclick="sendComment(event)">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="text-muted"><strong>*</strong> Поля обязательны к заполнению</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--BODY-->
<div></div>


<footer id="footer" class="footer navbar-fixed-bottom" >

 
  <div class="row">
    
    <div class="col-md-12 back footer d-flex flex-row" align="center">
      
      <div class="col">
        <a href="/">Главная</a>
        <br>
        <a href="/service">Услуги</a>
        <br>
        <a href="/price-list">Цены</a>
      </div>
      <div class="col">
        Пн-Вс: с 10:00 до 20:00
        <br>
        Сб-Вс: с 10:00 до 20:00
      </div>
      <div class="col">
        ул. Данченко, 6-8, Черноморск, Одесская область, 68000
        <br>
        (048) -xxx-xx-xx 
        <br>
        email@email.com.ua
      </div>
    </div>
  </div>

  
<!--  <div class="container-fluid">

</div> -->
</footer>
<script type="text/javascript" src = "/js/RequestUtilityFA.js"></script>
<script type="text/javascript" src = "/js/service/workerPhoto.js"></script>
<script type="text/javascript" src = "/js/service/ProfileService.js"></script>
<script type="text/javascript" src = "/js/service/client/ClientHistoryOrders.js"></script>
</body>
</html>