<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>

<style type="text/css">
.back {
	background-color: #D9E1DA;
}
.footer{
	height: 70px;
	margin-top: 20px;
}
.block{
      width: 60px;
      height: 30px;
      background: #e3f2fd;
      display: inline-block;
      margin: 2px;
      text-align: center;
    }
.block:hover{
    	background: #EFBCF5;
    }
.blockpast{
      width: 60px;
      height: 30px;
      background: grey;
      display: inline-block;
      margin: 2px;
      text-align: center;
    }
.workerPhoto{
	width: 170px;
	margin: 10px;
	display: inline-block;
}
</style>
<head>
	<meta charset="UTF-8">
	<title>Registration</title>
</head>
<body>
	<header>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 back"></div>
				<div class="col-md-2 back">
					<span class="float-right">
						<p></p>
						<div class="btn-group" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-primary"
								data-toggle="collapse" data-target="#login">Вход</button>
							<a class="btn btn-primary" href="registration" role="button">Зарегистрироваться</a>
						</div>
						<div id="login" class="collapse">
							<form action="auth" method="post" modelAttribute = 'loginForm'>
								<div class="form-group">
									<input type="login" class="form-control" id="InputLogin"
										placeholder="Enter login" name="login">
								</div>
								<div class="form-group">
									<input type="password" class="form-control" id="InputPassword"
										placeholder="Password" name="password">
								</div>
								<button type="submit" class="btn btn-primary">Войти</button>
								<a  href="forgotPass">Восстановить пароль</a>
							</form>
						</div>

						<p></p>

					</span>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-12 back">
					<div class="row h-100 justify-content-center">
						<div class="btn-group " role="group">
							<a href="/about" class="btn btn-primary btn-lg active" role="button"
								aria-pressed="true">О нас</a> 
								<a href="/service" class="btn btn-primary btn-lg active" role="button"
								aria-pressed="true">Услуги</a> 
								<a href="/trends"	class="btn btn-primary btn-lg active" role="button"
								aria-pressed="true">В тренде</a> 
								<a href="/price-list"	class="btn btn-primary btn-lg active" role="button"
								aria-pressed="true">Стоимость услуг</a> 
								<a href="/comments"	class="btn btn-primary btn-lg active" role="button"
								aria-pressed="true">Отзывы</a> 
								<a href="/contact"	class="btn btn-primary btn-lg active" role="button"
								aria-pressed="true">Контакты</a>
							</div>
						</div>
					</div>
				</div>
		</div>
	</header>
<div class="container-fluid">
			<div class="row">

				<div class="col-md-2 ">1</div>
				<div class="col-md-8 ">
					<div class="container-fluid bg-light py-3">
						<div> <h3> Регистрация </h3></div>
    <form id="register-form" method="post" action="registration" role="form" modelAttribute = 'registrClientForm'>
        <div class="messages"></div>
        <div class="controls">
            
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="form_name">Логин *</label>
                        <input id="form_name" type="text" name="login" class="form-control" placeholder="Введите логин" required="required" data-error="name is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="form_email">Email *</label>
                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Введите email" required="required" data-error="Valid email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="form_phone">Телефон *</label>
                        <input id="form_phone" type="tel" name="phone" class="form-control" required="required" placeholder="+380ххххххххх">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="password">Пароль *</label>
                        <input id="password" type="password" name="password" class="form-control" required="required" placeholder="Password" >
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            	<div class="col-sm-4">
                    <div class="form-group">
                        <label for="password">Подтверждение пароля *</label>
                        <input id="passwordconfirm" type="password" name="passwordconfirm" class="form-control" required="required" placeholder="Password" >
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <!-- <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">Дополнительная информация</label>
                    <textarea id="form_message" name="description" class="form-control" placeholder="Сообщение" rows="4" data-error="send a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div> -->
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary btn-send" value="Зарегистрироваться">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted"><strong>*</strong> Поля обязательны к заполнению</p>
            </div>
        </div>
    </form>
</div>
				</div>
				<div class="col-md-2 ">3</div>
			</div>
</div>

</body>
</html>