<!DOCTYPE html>
<html>
<head>
  <title>Услуги салона</title>
  
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
  <script type="text/javascript" src = "/js/service/CheckToken.js"></script>
  <script type="text/javascript" src = "/js/service/LoginCabinet.js"></script>
  <style type="text/css">

    .back {
      background-color: #D9E1DA;
    }
    .footer{
    height: 70px;
    margin-top: 20px;
    position: absolute;
  	bottom: 0;
    }
    #acolor{
	 color: white;
	}
	#acolor:hover{
	color: grey;
	}
  </style>
</head>
<body onload='createLoginLogoutButton()'>
  <!--HEADER-->
  <header>
    <nav class="navbar  navbar-expand-lg navbar-dark bg-dark" id="imNav">
      <div class="container">
        <img src="../img/logo.png" class="nabar-brand img-fluid" style="max-width: 170px; max-height: 100px">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
        aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample07">
       
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item acolor">
              <a class="nav-link " href="/service" id="acolor">Услуги</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/trends" id="acolor">В тренде</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/price-list" id="acolor">Стоимость</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/comments" id="acolor">Отзывы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/contact" id="acolor">Контакы</a>
            </li>
          </ul>

        
        <div class=" my-2 my-md-0 " id="logbutton">
          
         
        </div>
      </div>
    </div>
  </nav>
</header>
<!--HEADER-->

<div class="container">
  <h2>Стрижки и укладки женские</h2>
  <a href="#strijka" data-toggle="collapse"> <img src="../img/strijka.jpg"> </a>
  <div id="strijka" class="collapse">
    Стрижка, укладка, окрашивание, ботокс, выпрямление, наращивание волос
    Профессиональный подход, лучшая косметика и мастера международного уровня для отличного результата.

    Стрижки и укладки, окрашивание волос→ Olaplex, вotox для волос, реконструкция волос JOICO, обертывание La Biosthetique, ритуалы Kerastase, ламинирование волос, кератиновое выпрямление, Вoost Up Bouffant, наращивание волос в салоне красоты.

    Консультация стилиста бесплатная.   
  </div>
  <h2>Мужской сервис</h2>
  <a href="#mens" data-toggle="collapse"> <img src="../img/mens.jpg"> </a>
  <div id="mens" class="collapse">
   Стрижка мужская, детская, укладка волос, маникюр.
   Мастера салона красоты de Lis — Киев предлагают для мужчин комплекс услуг для красоты и здоровья:

   стрижку мужская и детскую, укладку волос, оформление бороды и усов, комуфлирование седины, маникюр комплексный и педикюр гигиенический, SPA уход с массажем, общий массаж тела, косметический уход базовый и в китах.

   Вы достойны профессионального ухода, стильного внешнего вида и расслабления после энергичной деятельности. 
 </div>

 <h2>Макияж, наращивание ресниц</h2>
 <a href="#makiaj" data-toggle="collapse"> <img src="../img/makiaj.jpg"> </a>
 <div id="makiaj" class="collapse">
   У каждой женщины бывают дни, когда она должна выглядеть особенно безупречной. И здесь Вам поможет искусство макияжа для создания завершенного образа, продуманного мастером салона красоты до мелочей.

   Деловая встреча, романтическое свидание, фотосессия, юбилей, торжество, посещение ресторана, концерта… априори предполагает, что Вы должны быть идеальны. Профессиональный мастер нашего  салона красоты создаст индивидуальный макияж, который скроет недостатки и подчеркнет достоинства. Здоровый цвет лица, выразительный взгляд, чувственные губы — всё это необходимо, чтобы быть уверенной в себе. И главное, быть счастливой и любимой. Разумеется, в дополнение к макияжу мы предложим соответствующую укладку волос или причёску для полноты образа. Делайте макияж у визажистов салона красоты и будьте счастливы!
 </div>
 <h2>Ногтевой сервис</h2>
 <a href="#nogti" data-toggle="collapse"> <img src="../img/nogti.jpg"> </a>
 <div id="nogti" class="collapse">
   Маникюр, педикюр, шеллак
   Салон красоты  предлагает комплекс услуг по уходу и восстановлению ногтей:<br>

   Аппаратный и бразильский маникюр -
   Абсолютно безопасный метод выполнения маникюра с помощью специального аппарата и сменных насадок.<br>

   Педикюр -
   Мы предлагаем комплекс программ по уходу за ногами, вчисле которых классический, аппаратный, SPA, лечебный и бразильский педикюр с использованием профессиональных техник и кометических препаратов  LCN И GEHWOL<br>

   Гигиенический и врачебный уход за стопами - 
   Профессиональный гигиенический и врачебный уход за стопами нашим врачем-подологом обработает кожу на стопах, выполнит коррекцию «вросшего» ногтя, сделает массаж стоп, вылечит натоптыши/трещины/мозоли/проблемные ногти .…<br>

   Minx - 
   Известный бренд CND (Creative Nail Design) разработал плёнки Minx, Shellac и полоски для ногтей.
   Minx с хромированными metallic цветами сегодня в тренде, а специалисты нашего салона красоты помогут вам подобрать стильный дизайн из огромного каталога готовых вариантов.<br>

   IBX - 
   маникюр салонныйПокрытие IBX от компании Famous Names поможет решить проблему хрупких и ломких ногтей. Новейший, уникальный метод лечения ногтей с эффектом регенерации поврежденных ногтей.<br>

   Ногтевой дизайн
   Индивидуальный, неповторимый дизайн с учетом ваших пожеланий, на основе творческого подхода и креативности нашего мастера ногтевого сервиса позволит вам быть уникальной даже в оформлении ногтей.<br>

   SPA услуги - 
   SPA услуги для рук и ног состоят как из традиционных манипуляций, так и ухаживающее-расслабляющих.<br>

   Наращивание ногтей - 
   Акриловое и гелевое наращивание ногтей позволяет создать необходимую длину и размер ногтей<br>

   ВЫ ДОСТОЙНЫ ЛУЧШЕГО
 </div>

</div>
<footer >
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-md-12 back footer d-flex flex-row" align="center">
        
        <div class="col">
          <a href="/">Главная</a>
          <br>
          <a href="/service">Услуги</a>
          <br>
          <a href="/price-list">Цены</a>
        </div>
        <div class="col">
          Пн-Вс: с 10:00 до 20:00
          <br>
          Сб-Вс: с 10:00 до 20:00
        </div>
        <div class="col">
          ул. Данченко, 6-8, Черноморск, Одесская область, 68000
          <br>
          (048) -xxx-xx-xx 
          <br>
          email@email.com.ua
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>